<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Valor do Input </title>
    <link rel="stylesheet" href="styles.css">
    <script src="script.js"></script>
</head>
<body>
    <div class="content">
        <p>Números</p>
        <p>
            <input type="number" id="input" value="insert number"></input>
            <button onclick="adicionar()">Adicionar</button>
        </p>
        <p id="adicionados">
            Adicionados:
        </p>
        <p>
            <button onclick="somar()">Calcular</button>
        </p>
        <p id="maior">
            Maior número:
        </p>
    </div>
</body>
</html>
