<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exercicio </title>
    <link rel="stylesheet" href="styles.css">
    <script src="script.js"></script>
</head>
<body>
    <div class="content">
        <p id="url">
            https://placeimg.com/250/150/
        </p>
        <p id="buttons">
            <button id="b1" onclick="adicionar()">
                Adicionar Imagem
            </button>
            <button id="b2" onclick="remover()">
                Remover Imagem Aleatoria
            </button>
        </p>
        <h3 id="nim">
            Imagens: 0
        </h3>
        <p>
          <ul id="list">

    </ul>
        </p>
    </div>
</body>
</html>
